HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/hotswap_agent.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
*.iml
*.name
*.pem
